<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @pin.team %>
</p>

<p>
  <strong>Article:</strong>
  <%= @pin.article %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
